body {
  background-size: 100% 100%;
  background-attachment: fixed;
}

h1 {
  color: burlywood;
  display: flex;
  justify-content: center;
}
.container {
  /* display: flex;
  justify-content: center;
  margin: auto; */

  padding: 295px;
  text-align: center;
}

.button {
  background-color: #00000075;
  color: rgb(216, 164, 121);
  border: 2px solid #5b82ad75;
}
.buttonn:hover {
  background-color: #32313d75;
  color: rgb(216, 164, 121);
}

.hand {
  cursor: pointer;
}
